.jukebox-web-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 118px;
  padding: 16px;

  .currently-playing-toolbar {
    display: flex;
    flex-direction: row;
    background: #00ddff;
    width: 100%;
    bottom: 0;
    padding: 16px;
    position: fixed;
  }

  .currently-playing-album-art-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
  }

  .search-type-container {
    padding-right: 16px;
  }

  .search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .album-art-with-song-info {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .slider {
    width: 100%;
  }

  .playback-controls {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .playback-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .to-center-playback {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .playback-svg {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .volume-slider {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
  }
}