.search-type-container {
  padding-right: 16px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.connecting-to-pi-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
