#root {
  @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
  @import 'jukebox-web-interface';
  font-family: 'Play', sans-serif;
}

.main-content {
  padding: 0;
}

.btn-secondary {
  background: rgb(123, 93, 151);
}
