#root {
}

.main-content {
  padding: 0;
}

.btn-secondary {
  background: rgb(123, 93, 151);
}

.search-bar {
  height: 24px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}